.header {
    -fx-padding: 10px;
    -fx-background-color: #FAF9F6;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.75), 15, 0, 0, -1);
}

.navItem {
    -fx-text-fill: #5b5b5b;
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-transition: all 0.3s ease-in-out;
    -fx-font-family: "Comic Sans MS Bold";
    -fx-font-size: 24px;
}

.navItem:hover {
    -fx-background-color: #b3b3b3;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
